.imagePlayer{
    width: 400px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    margin: 1rem ;
}

#deletePlayerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}